*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgClr:rgb(223, 255, 227);
    --rewievsColor:rgb(2, 61, 9);
    --slash:rgb(7, 221, 32);
    --white:rgb(255, 255, 255);
    --arrowBackgr:rgb(80, 79, 79);
    --transition: all 0.3s linear;
    --radious: 7px;
}

html{
    min-height: 100%;
    min-width: 100%;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    min-height: 100vh;
    background-color: var(--bgClr);
}

.center-div{
    margin: 80px auto;
    width: 60%;
    max-width: 1200px;
}

.review-title{
    font-size: 2rem;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.review-title h2 span{
    color: var(--slash);
    font-size: 2rem;
    margin-right: 10px;
}

.review-title h2{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: row;
    height: 450px;
}

.container{
    order: 2;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-height: 100%;
    
}

.content-center{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--transition);
}

.previous{
    order: 1;
}

.next{
    order: 3;
}

.btn{
    margin-top: 50px;
    height: 40px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radious);
    border: none;
    color: var(--white);
    background-color: var(--arrowBackgr);
    cursor: pointer;
}

#previous{
    width: 12px;
}

.image-div img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(161, 161, 161);
    background: var(--white);
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10px;
}

.name-person{
    color: var(--slash);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.10rem;
    margin-bottom: 10px;
    text-align: center;
}

.jobs-div{
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--arrowBackgr);
    margin-bottom: 30px;
}

.text{
    font-size: 1.1rem;
    color: var(--arrowBackgr);
    text-align: center;
    margin-bottom: 35px;
}

.icon-section span{
    font-size: 8rem;
    color: var(--slash);
}